<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a> |
      <a [routerLink]="['user', 1]">
        User 1
      </a>
      |
      <a [routerLink]="['user', 2]">
        User 2
      </a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Section 13: Understanding Observables</h5>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 170. Getting Closer to the Core of Observables</h5>
          <p class="card-text"> To build our own observable here in ngOnInit and for that, we can import something from that RxJS package. </p>
          <p class="card-text">First -> <code>import &#123; interval } from 'rxjs';</code></p>
          <p>The following code create an observable that will count each 1000 second a number -> <code>ngOnInit() &#123;
            interval( 1000).subscribe(count => &#123;
            console.log(count);
            });
            }</code></p>
        </div>
      </div>
      <!--
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson xxx -> </h5>
          <p class="card-text"> - </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
        </div>
      </div>
-->


    </div>
  </div>
</div>
